<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GitHub search</title>
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
  <div id="app" class="container">
    <!-- Favorites -->
    <div class="favorites">
      <transition-group name="list">
        <div class="favorite" :class="{'favorite--selected': checkFavorite(favorite.login)}"
          v-for="favorite in allFavorites" :key="favorite.id">
          <a @click.prevent="showFavorite(favorite)" href="#" target="_blank">
            <img :src="favorite.avatar_url" :alt="favorite.name" class="avatar__profile">
          </a>
        </div>
      </transition-group>
    </div>

    <!-- Content -->
    <article class="content">

      <!-- Search -->
      <div class="search__form">
        <h1 class="content__title">Search GitHub users</h1>

        <form class="search" v-on:submit.prevent="doSearch">
          <input v-model="search" type="text" class="search__input" required placeholder="Search GitHub users">
          <input type="submit" class="search__submit" value="Search">
        </form>
      </div>

      <!-- Result -->
      <Transition>
        <app-profile v-if="result" :result="result" :is-favorite="isFavorite" @add-favorite="addFavorite"
          @remove-favorite="removeFavorite" />
      </Transition>

      <!-- Error -->
      <div class="result__error" v-if="error">{{ error }}</div>
    </article>
  </div>
  <script src="js/main.js"></script>
  <script src="js/components/AppProfile.js"></script>
  <script>
    const mountedApp = app.mount('#app');
  </script>
</body>

</html>